.nontechcontainer{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    /* margin-top: 30vh;
    margin-left: 10vh; */
    flex-wrap: wrap;
    background: url('../../assets/5026597.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
  
  }

  .flip-card-nontech {
      background-color: transparent;
      width: 300px;
      height: 200px;
  
      /* border: 1px solid #f1f1f1; */
      perspective: 1000px; /* Remove this if you don't want the 3D effect */
      
    }
    
  
    
    /* This container is needed to position the front and back side */
    .flip-card-inner-nontech {
      display: flex;
      transform: translate(0%,0%);
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      font-style: italic;
      font-family: Georgia, 'Times New Roman', Times, serif;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }
    
    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-card-nontech:hover .flip-card-inner-nontech {
      transform: rotateY(180deg);
    }
    
    /* Position the front and back side */
    .flip-card-front-nontech, .flip-card-back-nontech {
      position: fixed;
      width: 100%;
      height: 100%;
      border-radius: 10%;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
    }
    
    /* Style the front side (fallback if image is missing) */
    .flip-card-front-nontech {
      background-color: #bbb;
      opacity: 0.5;
      color: black;
    }
    
    /* Style the back side */
    .flip-card-back-nontech {
      background-color: dodgerblue;
      color: white;
      transform: rotateY(180deg);
    }